extends layout 
block content 
    h2 You can see the drugs in the pharmacies` inventory
    
    ol 
        each drug in drugs 
            li 
                a(href=`/drugs/${drug.id}`)= drug.name 